.Agents-form {
    display: none;
    position: absolute;
    right: 0;
    z-index: 10;
    background: #f2f2f2;
    padding: 10px 0;
}

.App-five-columns-left > .App-list-item:nth-of-type(2) {
    justify-content: flex-start;
}

.Agents-list-icon {
    align-self: center;
    margin-bottom: 2px;
    color: #040910;
}