.Files-overlay-wrapper {
    display: none;
    flex-direction: column;
    flex: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: #f2f2f2;
}

.Files-overlay {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 10px dashed rgba(4, 9, 16, 0.4);
    margin: 50px;
}

.Files {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-right: -10px;
}

.Files-folder {
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px -5px;
    padding: 5px 0 5px 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.3);
    box-shadow: 0 1px 4px rgba(29, 61, 112, 0.2);
}

.Files-folder .Files-folder {
    border-radius: 10px 0 0 10px;
}

.Files-folder-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Files-folder-button {
    color: #1d3d70;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.Files-folder-contents {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
    border-left: 2px solid #1d3d70;
    margin-left: 7px;
    overflow: hidden;
}

.Files-folder-closed {
    margin-bottom: 5px;
}

.Files-folder-closed .Files-folder-contents {
    height: 0;
}

.Files-text {
    color: #040910;
    margin: 0;
}

.Files-name > strong {
    font-weight: 600;
    color: #10213d;
}

.Files-progress {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
    z-index: 5;
    box-shadow: 0 -1px 4px rgba(29, 61, 112, 0.2);
    background: white;
}

.Files-progress-bar {
    background: #4caf50;
    height: 10px;
    width: 0;
    transition: width 0.25s linear;
}

.Files-file {
    margin: 5px 0;
}

.Files-date {
    text-align: end;
    padding-right: 10px;
}

.Files-kebab-button {
    color: #1d3d70;
    margin: 0 10px;
    cursor: pointer;
    align-self: center;
    justify-self: flex-end;
}

.Files-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 70px;
    z-index: 5;
    background: white;
    box-shadow: 0 1px 4px rgba(29, 61, 112, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.Files-menu-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
}

.Files-menu-option:hover {
    background: #f8f8f8;
}

.Files-menu-option:active {
    background: #f0f0f0;
}

.Files-menu-option:last-of-type {
    border-bottom: none;
}

.Files-menu-option-icon {
    color: #1d3d70;
    margin-right: 10px;
}

.Files-menu-option-text {
    color: #040910;
    margin: 0;
}

.Files-main-icon {
    color: #040910;
    margin-right: 10px;
}