.Studies-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 50px;
    position: relative;
}

.Studies-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.Studies-list-header {
    padding: 10px 20px;
}

.Studies-list-item {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: flex-end;
    color: #040910;
    overflow: hidden;
}

.Studies-list-item:first-of-type {
    justify-content: flex-start;
}

.Studies-list-row {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 2em;
}

.Studies-list-item > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Studies-list-row:hover {
    background: white;
    box-shadow: 0 1px 4px rgba(29, 61, 112, 0.2);
}

.Studies-participant-list-row {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 2em;
    position: relative;
}

.Studies-participant {
    color: #040910;
    margin: 0;
}

.Studies-frame {
    flex: 1;
    border: 1px solid #1d3d70;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(29, 61, 112, 0.2);
}

.Studies-header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 7px 0;
}

.Studies-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Studies-form {
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 40px;
    border-radius: 35px;
    box-shadow: 0 5px 10px rgba(29, 61, 112, 0.2);
    width: 420px;
    margin: 50px;
}

.Studies-input {
    padding: 10px 15px;
    font-size: 1em;
    color: #040910;
    margin-bottom: 20px;
}

.Studies-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 10px 15px;
    border-radius: 2em;
    outline: none;
    border: 1px solid white;
    background: #fafafa;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    color: #040910;
    margin-bottom: 20px;
    font-size: 1em;
}

.Studies-select:disabled {
    opacity: 0.5;
    filter: grayscale(100%);
}

.Studies-select-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Studies-select-icon {
    position: absolute;
    top: 14px;
    right: 10px;
    pointer-events: none;
    color: #040910;
}

.Studies-select:disabled + .Studies-select-icon {
    opacity: 0.5;
    filter: grayscale(100%);
}

.Studies-close {
    position: absolute;
    top: 25px;
    right: 25px;
    color: #999999;
    font-size: 1.1em;
    transition: color 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.Studies-close:hover {
    color: #040910;
    transform: scale(1.1);
}

.Studies-button {
    padding: 10px 15px;
    font-size: 1em;
    margin: 15px 0 0;
}
