.App-content {
    padding: 50px;
}

.Engines-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Engines-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.Engines-form {
    display: none;
}