html, body {
    margin: 0;
    height: 100%;
    background: #F9F9F9;
    font-family: 'Roboto', 'Arial', sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    overflow: scroll;
}

.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 5px 5px 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    box-sizing: border-box;
}

.Row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Column {
    display: flex;
    flex-direction: column;
}