
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/frontend/node_modules/
/public/build/
/public/uploads/
/public/persisted/
/frontend/npm-debug.log
/frontend/yarn-error.log
###< symfony/webpack-encore-bundle ###
