{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('auth') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('auth') }}
{% endblock %}

{% block body %}
    <a href="{{ path("web_landing") }}">
        <img class="Auth-logo" height="30" src="{{ asset('build/logo.svg') }}" alt="kunlabo logo">
    </a>
    <div class="Auth-wrapper" data-controller="password">
        {% block auth %}
        {% endblock %}
    </div>
{% endblock %}