{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('auth') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('auth') }}
{% endblock %}

{% block body %}
    <a draggable="false" class="Auth-logo" href="{{ path("web_landing") }}">
        <img draggable="false" height="30" src="{{ asset('build/logo.svg') }}" alt="kunlabo logo">
    </a>
    <main class="Auth-wrapper" data-controller="password">
        {% block auth %}
        {% endblock %}
    </main>
{% endblock %}