{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('auth') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('auth') }}
{% endblock %}

{% block body %}
    <a class="Auth-logo" href="{{ path("web_landing") }}">
        <img height="30" src="{{ asset('build/logo.svg') }}" alt="kunlabo logo">
    </a>
    <main class="Auth-wrapper" data-controller="password">
        <turbo-frame id="auth">
            {% block auth %}
            {% endblock %}
        </turbo-frame>
    </main>
{% endblock %}